.planning-table{
    width: auto !important;
}

.planning-table, .planning-table th{
    border: 1px solid rgba(0,40,100,.12) !important;
}

.w-5{
    min-width: 50px !important;
    width: 50px !important;
}

.w-10{
    min-width: 100px !important;
    width: 100px !important;
}

.w-8{
    min-width: 80px !important;
    width: 80px !important;
}

.w-15{
    min-width: 150px !important;
    width: 150px !important;
}

.w-20{
    min-width: 200px !important;
    width: 200px !important;
}

.cell-p{
    padding: 6px 10px !important;
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  white-space: nowrap;
}

table td:hover{
    cursor: default;
}

.date-th{
    min-width: 130px !important;
    width: 130px !important;
}

.plan-type-cell{
    min-width: 64px !important;
    width: 64px !important;
}

.hours-pm{
    border-right: 1px solid rgba(0,40,100,.12) !important;
}

.hours-compare-td, .hours-compare-td div {
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.hours-compare-td:hover {
  background-color: #9c92d1;
  box-shadow: inset 0 0 2px 3px rgba(0, 0, 0, 0.3);
}

.hours-compare-td{
    position: relative;
}

.heading-stack-total, .cell-stack-total{
    background: #beedb2 !important;
}

.heading-tech-total, .cell-tech-total{
    background: #dbd4ad !important;
}

.evidence-bg-1 {
    background: #7172755e !important;
}

.heading-total, .cell-total{
    background: #84a0ad !important;
}

.grand-totals-cell{
    font-weight: bold;
}

.shadow-column, .grand-totals-cell {
    box-shadow: inset -4px 0 5px -4px rgba(0, 0, 0, 0.5),
                inset 4px 0 5px -4px rgba(0, 0, 0, 0.5);
}

.compact-table {
    .compact-cell {
        padding: 2px 3px!important;
        input {
            padding: 0!important;
        }
    }
}
.hours-separator {}
.tw-hour-month, .pm-hour-month, .pm-hour-week, .tl-hour-month, .tw-hour-prev-week, .tl-hour-prev-week {}

.alert-ok {
    color: #f8fafd;
    background-color: #467fd0;
    border-color: #4277c3;
}

.alert-ok hr {
    border-top-color: #396bb3;
}

.alert-ok .alert-link {
    color: #d0def2;
}

.accountant {

}

.app-body {
    overflow-x: inherit;
}

.sticky-table {
    table {
        position: relative;
        .sticky-top {
            background: #eceff3;
            z-index: 999;
        }
        //th {
        //    position: sticky;
        //    top: 0;
        //    background: #eceff3;
        //    z-index: 2;
        //}
        .left_sticky {
            position: sticky;
            left: 0;
            background: #e9eaeb;
        }
    }
}

.h-30 {
    max-height: 300px;
    white-space: normal;
}


